
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: green;
}

p {
    text-align: left;
}

header {
    background-color: darkgray;
    text-align: center;
}

footer {
    background-color: darkgray;
    text-align: left;
}
